<div class="card bg-light mb-3 dib" style="width: 16rem;">
    <form method="GET" action="/task">
        <div class="card-header" >
            <input name="type" value="add" style="display:none;">
            <input type="text" class="form-control" name="title" placeholder="Название задачи">
        </div>
        <div class="card-body">
            <p class="card-text"><input type="text" class="mb-2 form-control" name="description" placeholder="Описание задачи">
                <input type="number" class="form-control" name="difficulty" placeholder="Опыт"></p>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-dark btn-block">Добавить</button>
        </div>
    </form>
</div>